h2{
    width: 300px;
    height: 30px;
    text-align: center;
    border: 1px solid red;
}
.grid{
    width: 300px;
    height: 300px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: blueviolet;
    border-radius: 50%;
}

.shooter {
    background-color: red;
}

.occupied {
    border: 0.1px solid red;
}